@use "../../../../styles/partials/variables" as *;
@use "../../../../styles/partials/colors" as *;
@use "../../../../styles/partials/responsive" as *;

.out-of-stock-tag {
  background-color: rgba($clr-red, 0.07);
  color: $clr-red;
  border-radius: $radius-md;
  height: $tag-height-sm;
  padding: 0 $padding-xs;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  width: max-content;
  @include md {
    height: $tag-height-md;
  }
}
