@use "../../styles/partials/variables" as *;
@use "../../styles/partials/colors" as *;
@use "../../styles/partials/responsive" as *;

.warehouse-list {
  &__page-info {
    display: flex;
    justify-content: space-between;
    padding: $padding-lg $padding-md $padding-md;
  }
  &__info-container {
    display: flex;
    gap: $padding-sm;
  }
}
