//Primary colors
$clr-in-stock-black: #13182c;
$clr-in-stock-indigo: #2e66e5;
$clr-white: #fff;

//Secondary colors
$clr-slate: #5c667e;
$clr-cloud: #bdc5d5;

//Background colors
$clr-graphite: #232940;
$clr-light-grey: #f7f8f9;

//Supporting colors
$clr-green: #158463;
$clr-red: #c94515;
