@font-face {
    font-family: "Tititllium Web Semi-Bold";
    src: url(../../assets/fonts/TitilliumWeb-SemiBold.ttf) format('opentype');
    font-weight:bold;
}
@font-face {
    font-family: "Tititllium Web Regular";
    src: url(../../assets//fonts/TitilliumWeb-Regular.ttf) format('opentype');
    font-weight:normal;
}