@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

$font: 'Titillium Web', sans-serif;
* {
  font-family: $font;
}

@mixin mobileHeader {
  text-size: 20px;
  line-height: 36px;
}
@mixin mobileSub {
  text-size: 13px;
  line-height: 20px;
}
@mixin mobileLabel {
  font-size: 13px;
  line-height: 20px;
}
@mixin mobileBodyLarge {
  text-size: 15px;
  line-height: 26px;
}
@mixin mobileBodyMedium {
  text-size: 13px;
  line-height: 20px;
}
@mixin mobileBodySmall {
  text-size: 11px;
  line-height: 16px;
}
