.header__container-navigation {
  background-color: #13182c;
  display: flex;
  flex-direction: column;
  padding-top: 15px;
  padding-left: 160px;
}
.header_container-items {
  display: flex;
  flex-direction: row;
  padding-top: 15px;
}
.header_container-item {
  color: white;
  padding-right: 15px;
}
.header_container-item1 {
  color: white;
  padding-left: 15px;
}

//TABLET:
@media (min-width: 820px) and (max-width: 1180px) {
  .header__container-navigation {
    background-color: #13182c;
    display: flex;
    flex-direction: row;
    padding-top: 15px;
    padding-left: 50px;
  }
  .App-logo {
    padding-top: 20px;
  }
  .header_container-items {
    display: flex;
    flex-direction: row;
    padding-left: 650px;
    padding-bottom: 10px;
    padding-top: 7px;
  }
  .header_container-item {
    color: white;
  }
  .header_container-item1 {
    color: white;
  }
}
@media (min-width: 1180px) and (max-width: 1800px) {
  .header__container-navigation {
    background-color: #13182c;
    display: flex;
    flex-direction: row;
    padding-top: 15px;
    padding-left: 50px;
  }
  .App-logo {
    padding-top: 20px;
    padding-left: 40px;
  }
  .header_container-items {
    display: flex;
    flex-direction: row;
    padding-left: 850px;
    padding-bottom: 10px;
    padding-top: 7px;
  }
  .header_container-item {
    color: white;
  }
  .header_container-item1 {
    color: white;
  }
}
