@use "../../../../styles/partials/variables" as *;
@use "../../../../styles/partials/colors" as *;
@use "../../../../styles/partials/responsive" as *;

.warehouses-table {
  width: 100%;
  border-collapse: collapse;

  &__title {
    text-align: start;
    padding: $padding-sm;
  }
  &__cell {
    text-align: start;
    padding: $padding-sm;
  }
  &__head {
    .warehouses-table__row {
      background-color: $clr-light-grey;
      color: $clr-slate;
    }
  }
  &__body {
    .warehouses-table__row {
      border-bottom: solid 1px $clr-cloud;
      &:hover {
        background-color: rgba($clr-in-stock-indigo, 0.07);
        cursor: pointer;
      }
    }
  }
}
